# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# selenium folder
selenium/
Users/

*.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.pycharm_workspace

# OS-specific files
.DS_Store
Thumbs.db

# Editor specific files
*.bak
*.swp
*.swo
*~

#user_file
users.json
Profile*
auto-airbnb
.env